click
opencv-python
lmdb
requests
psutil
wandb==0.9.7
scipy
clean-fid
lpips
timm
antialiased_cnns
tqdm
ninja 
pyspng
imageio-ffmpeg==0.4.3
tensorboard
scikit-learn
gdown
git+https://github.com/openai/CLIP.git